doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Bootstrap, from Twitter
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author", content="")
    // Tweeviews Stuff
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript' src='/js/handlebars.js')
    script(type='text/javascript' src='/js/bvSnippets.js')
    script(type='text/javascript' src='/fancybox/lib/jquery.mousewheel-3.0.6.pack.js')
    link(rel='stylesheet', href='/fancybox/source/jquery.fancybox.css?v=2.1.5')
    script(type='text/javascript' src='/fancybox/source/jquery.fancybox.pack.js?v=2.1.5')
    link(rel='stylesheet', href='/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5')
    script(type='text/javascript' src='/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5')
    script(type='text/javascript' src='/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6')
    link(rel='stylesheet', href='/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7')
    script(type='text/javascript' src='/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7')
    // Le styles
    // Production should use this CSS
    link(href="/stylesheets/bootstrap.css", rel="stylesheet")
    link(href="/stylesheets/bootstrap-responsive.css", rel="stylesheet")
    // Development should use this LESS
    // <link rel="stylesheet/less" type="text/css" href="../less/bootstrap.less">
    // <link rel="stylesheet/less" type="text/css" href="../less/bootstrap-responsive.less">
    // // <script src="../submodules/less/dist/less-1.3.0.min.js" type="text/javascript"></script>
    // Documentation-specific styles
    style
      body {padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */}
    // Le HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")
    // Le fav and touch icons
    link(rel="shortcut icon", href="../ico/favicon.ico")
    link(rel="apple-touch-icon-precomposed", sizes="144x144", href="../ico/apple-touch-icon-144-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="114x114", href="../ico/apple-touch-icon-114-precomposed.png")
    link(rel="apple-touch-icon-precomposed", sizes="72x72", href="../ico/apple-touch-icon-72-precomposed.png")
    link(rel="apple-touch-icon-precomposed", href="../ico/apple-touch-icon-57-precomposed.png")
  body
    div(style="height: 80px;")
      //
              Fixing height for the fixed global header.

    .navbar.navbar-portal.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-small.pull-left(href="#")
            i.icon-list
          a.brand.brand-bv(href="#")
            span.visuallyhidden Bazaarvoice:
          p.navbar-text.pull-right
            .btn-group.pull-right
              a.btn.btn-small.dropdown-toggle(data-toggle="dropdown", href="#")
                i.icon-user
                span.caret
              ul.dropdown-menu
                li
                  select
                    option client1
                    option client2
                li
                  a.btn(href="#")
                    i.icon-cog
                    | Preferences
                li
                  a.btn(href="#")
                    i.icon-power
                    | Sign out
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href="/demo") Tweeviews
          .nav-collapse.collapse
            ul.nav
              li
                a(href="/demo") Demo
              li
                a(href="/clients") Provision
              li.active
                a(href="/campaigns") Campaigns
              li
                a(href="/docs") Documentation
          // /.nav-collapse
    .container
      div.TVCampaigns
        form(action='/campaigns/addOrUpdate', method='post')
            div#clientNameDiv(data-role='fieldcontain')
                legend Add or Update Campaign
                fieldset(data-role='controlgroup')
                    label Client Name
                        input(type='text',placeholder='jeffs-testcompany',name='clientName')
                    label Product Hashtag
                        input(type='text',placeholder='#wutwut',name='productHashTag')
                    label Product ID
                        input(type='text',placeholder='externalId',name='productExternalId')
                    label Start Date
                        input(type='datetime-local',name='campaignStart')
                    label End Date
                        input(type='datetime-local',name='campaignEnd')
            div(data-role='fieldcontain')
                input(type='submit',value='Start Tweeting',data-transition='fade', data-theme='c')
        script
            $('#formList').on('submit', function(e) { e.preventDefault(); })
      div.TVEndCampaign
        form(action='/campaigns/end', method='post')
          div#endCampaignDiv(data-role='fieldcontain')
            legend End Campaign
            fieldset(data-role='controlgroup')
              label Client Name
                input(type='text',placeholder='jeffs-testcompany',name='clientName')
              label Product ID
                input(type='text',placeholder='externalId',name='productExternalId')
          div(data-role='fieldcontain')
              input(type='submit',value='End Campaign',data-transition='fade', data-theme='c')
      div.TVListCampaigns
        form(action='/campaigns/list', method='post')
          div#clientListDiv(data-role='fieldcontain')
            legend See Client Campaigns
            fieldset(data-role='controlgroup')
              label Client Name
                input(type='text',placeholder='jeffs-testcompany',name='clientName')
          div(data-role='fieldcontain')
            input(type='submit',value='Show All',data-transition='fade', data-theme='c')
        ul
          - if (clientProducts != undefined && clientProducts != null)
              p= 'Hashtag: ExternalId (API Key)'
              - each client in clientProducts
                  li= client.hashTag + ': ' + client.externalId + ' (' + apiKey + ')'

    // /container
    //
       Le javascript
          ==================================================
    // Placed at the end of the document so the pages load faster
    script(src="/js/bootstrap.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/bootstrap-dropdown.js")