extends layout

block content
  h1= title
  p Welcome to #{title}
  h2  hello there
  #inline(style='display:none;width:500px')
     p testingggg
  a(class='fancybox', rel='group', href='#inline')
     p testing 134
  a.tvboxlink(href='http://twitter.com/tshacktoberfest')
        img.bird(src='images/smallbird.png', alt='HACK THE PLANET')
        p.tvlink See what they’re saying on Twitter!
  div.tvlightbox
     div.tvshadow
        img.bigbird(src='images/bigbird.png', alt='TweeViews')
        h2.tvtitle TweeViews
        p To be included in TweeViews, tweet to @clientname with #productname and your #rating (#5stars, #3stars, etc).
        p [display will go here]
        div.tvlightfoot
           p Brought to you by Bazaarvoice
  div.tvquicktake
     img.bigbird(src='images/bigbird.png', alt='TweeViews')
     h2.tvqttitle TweeViews
     a.tvpreview(href='/')
        p [display will go here]
           div.tvtooltip
              p Read more reviews from other Twitter users on TweeViews >>
  div.BVTweeviews(data-id="test1")
  script.
    $(".BVTweeviews").tweeviews('m6alb4h78ttx8d9rznzmxsqw1', { staging: true });
    $(document).ready(function() { $(".fancybox").fancybox(); });
