extends layout

block content
  //h1= title
  //p Welcome to #{title}
  div.BVTweeviewsSummary(data-id="566")
  div.BVTweeviews(data-id="566")
  script.
    $(".BVTweeviewsSummary").tweeviewsSummary('m6alb4h78ttx8d9rznzmxsqw1', { staging: true });
    $(".BVTweeviews").tweeviews('m6alb4h78ttx8d9rznzmxsqw1', { staging: true });
    $(document).ready(function() { $(".fancybox").fancybox(); });