extends layout

block content
	div
		form(action='/createCampaign',method='post')
			div(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='email') Campaign ID
						input(id='campaignid',type='text',value='',placeholder='#wutwut',name='campaignid')
			div#passworddiv(data-role='fieldcontain')
				fieldset(data-role='controlgroup')
					label(for='password') Product ID
						input(id='productid',type='text',value='',placeholder='bvproductid',name='productid')
			div(data-role='fieldcontain')   
				input(type='submit',value='Sign Up',data-transition='fade', data-theme='c')