doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(type='text/javascript' src='/js/handlebars.js')
    script(type='text/javascript' src='/js/bvSnippets.js')
    script(type='text/javascript' src='/fancybox/lib/jquery.mousewheel-3.0.6.pack.js')
    link(rel='stylesheet', href='/fancybox/source/jquery.fancybox.css?v=2.1.5')
    script(type='text/javascript' src='/fancybox/source/jquery.fancybox.pack.js?v=2.1.5')
    link(rel='stylesheet', href='/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5')
    script(type='text/javascript' src='/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5')
    script(type='text/javascript' src='/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6')
    link(rel='stylesheet', href='/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7')
    script(type='text/javascript' src='/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7')
  body
    block content