.listcampaigns

    script
        $('#formList').on('submit', function(e) { e.preventDefault(); })
    div.TVListCampaigns
        form#formList(action='/campaigns/list', method='post')
            label(for='clientName') Client Name
                input(id='clientName',type='text',value='',placeholder='jeffs-testcompany',name='clientName')
            br
            input(type='submit',value='Show All',data-transition='fade', data-theme='c')
    br
    ul
        - if (clientProducts != undefined && clientProducts != null)
            p= 'Hashtag' + '      ------------------>>>>>>>>>>>      ' + 'ExternalId'
            - each client in clientProducts
                li= client.hashTag + '      ------------------>>>>>>>>>>>      ' + client.externalId + apiKey