<div class="BVTweeviewContainer" style="height: 50px; margin-top: 30px;">
    <div id="inline" style="display:none;">
        <div class="tvlightbox"></div>
        <div class="tvshadow">
            <img alt="TweeViews" class="bigbird" src="/images/bigbird.png">

            <h2 class="tvtitle">TweeViews</h2>

            <p>To be included in TweeViews, tweet to @clientname with
            #productname and your #rating (#5stars, #3stars, etc).</p>

            <div class="tvcontent">
            {{#each Results}}
            	{{#if Rating}}
	            <div class="tvtweet">
	           	<div class="BVRRRatingNormalImage" style="position: relative; display: block;">
					<div class="BVFWRatingBackground"><p>{{{starRatings product.ReviewStatistics.OverallRatingRange}}}</p></div>
					<div class="BVFRWRating" style="overflow: hidden; width: {{rangeToPercentage Rating 5}}%;"></div>
				</div>
	            <span class="tweetid">{{Id}}</span> <span class="tweetrate">{{Rating}}</span> <span class="tweettext">{{ReviewText}}</span> <span class="tweetname"><a href="https://twitter.com/{{UserNickname}}">{{UserNickname}}</a></span> <span class="tweetphoto">{{Photos}}</span> <span class="tweettime">{{{postedDate SubmissionTime}}}</span></div>
            	{{/if}}
            {{/each}}
            </div>

            <div class="tvlightfoot">
                <p>Brought to you by <a href="http://bazaarvoice.com" target="_blank">Bazaarvoice</a></p>
            </div>
        </div>

    </div>

    <a class="fancybox" href="#inline" rel="group" style="float: none; width: 0; margin: 0;"><img alt=
    "HACK THE PLANET" class="bird" src="/images/smallbird.png">

    <p class="tvlink">See what they’re saying on Twitter!</p></a>

</div>