<!-- <div class="BVTweeviewContainer BVRating_{{Rating}}_{{RatingRange}}">
	{{#each Results}}
	<div class="BVTweeviewContainerHeader">
		<div class="BVTweeviewReviewTitle">
			<a href="{{reviewDeepLink Id ../product.ProductPageUrl ProductId}}">{{Title}}</a>
		</div>
		<div class="BVTweeviewInlineReviewAuthor">
			<span class="BVTweeviewReviewBy">By:</span>
			<span class="BVTweeviewReviewAuthor">{{UserNickname}}</span>
		</div>
	</div>
	<div class="BVTweeviewContent">
		<div class="BVTweeviewRatingWrapper">
			<div class="BVTweeviewRatingBackground">{{{starRatings RatingRange}}}</div>
			<div class="BVTweeviewRating">{{{starRatings Rating}}}</div>
		</div>
		<div class="BVTweeviewproductName">{{product.Name}}</div>
		<div class="BVTweeviewReviewText">{{contentText ReviewText}}</div>
		<a class="BVTweeviewReadMore" href="{{reviewDeepLink Id ../product.ProductPageUrl productId}}">Read More</a>
	</div>
	{{/each}}
</div> -->
<div class="BVTweeviewContainer">
    <div id="inline" style="display:none;">
        <div class="tvlightbox"></div>
        <div class="tvshadow">
            <img alt="TweeViews" class="bigbird" src="images/bigbird.png">

            <h2 class="tvtitle">TweeViews</h2>

            <p>To be included in TweeViews, tweet to @clientname with
            #productname and your #rating (#5stars, #3stars, etc).</p>

            <div class="tvcontent">
            {{#each Results}}
            	{{#if Rating}}
	            <div class="tvtweet">
	           	<div class="BVRRRatingNormalImage" style="position: relative; display: block;">
					<div class="BVFWRatingBackground"><p>{{{starRatings product.ReviewStatistics.OverallRatingRange}}}</p></div>
					<div class="BVFRWRating" style="overflow: hidden; width: {{rangeToPercentage Rating 5}}%;"></div>
				</div>
	            <span class="tweetid">{{Id}}</span> <span class="tweetrate">{{Rating}}</span> <span class="tweettext">{{ReviewText}}</span> <span class="tweetname"><a href="https://twitter.com/{{UserNickname}}">{{UserNickname}}</a></span> <span class="tweetphoto">{{Photos}}</span> <span class="tweettime">{{{postedDate SubmissionTime}}}</span></div>
            	{{/if}}
            {{/each}}
            </div>

            <div class="tvlightfoot">
                <p>Brought to you by <a href="http://bazaarvoice.com" target="_blank">Bazaarvoice</a></p>
            </div>
        </div>

    </div>

    <a class="fancybox" href="#inline" rel="group"><img alt=
    "HACK THE PLANET" class="bird" src="images/smallbird.png">

    <p class="tvlink">See what they’re saying on Twitter!</p></a>

</div>