<!-- <div class="BVTweeviewContainer BVRating_{{Rating}}_{{RatingRange}}">
	{{#each Results}}
	<div class="BVTweeviewContainerHeader">
		<div class="BVTweeviewReviewTitle">
			<a href="{{reviewDeepLink Id ../product.ProductPageUrl ProductId}}">{{Title}}</a>
		</div>
		<div class="BVTweeviewInlineReviewAuthor">
			<span class="BVTweeviewReviewBy">By:</span>
			<span class="BVTweeviewReviewAuthor">{{UserNickname}}</span>
		</div>
	</div>
	<div class="BVTweeviewContent">
		<div class="BVTweeviewRatingWrapper">
			<div class="BVTweeviewRatingBackground">{{{starRatings RatingRange}}}</div>
			<div class="BVTweeviewRating">{{{starRatings Rating}}}</div>
		</div>
		<div class="BVTweeviewproductName">{{product.Name}}</div>
		<div class="BVTweeviewReviewText">{{contentText ReviewText}}</div>
		<a class="BVTweeviewReadMore" href="{{reviewDeepLink Id ../product.ProductPageUrl productId}}">Read More</a>
	</div>
	{{/each}}
</div> -->
<div class="BVTweeviewContainer">
    <div id="inline" style="display:none;">
        <div class="tvlightbox"></div>

        <div class="tvshadow">
            <img alt="TweeViews" class="bigbird" src="images/bigbird.png">

            <h2 class="tvtitle">TweeViews</h2>

            <p>To be included in TweeViews, tweet to @clientname with
            #productname and your #rating (#5stars, #3stars, etc).</p>

            <p>[display will go here]</p>

            <div class="tvlightfoot">
                <p>Brought to you by Bazaarvoice</p>
            </div>
        </div>
    </div>

    <a class="fancybox" href="#inline" rel="group"><img alt=
    "HACK THE PLANET" class="bird" src="images/smallbird.png">

    <p class="tvlink">See what they’re saying on Twitter!</p></a>

</div>