<!-- <div class="BVTweeviewContainer BVRating_{{Rating}}_{{RatingRange}}">
	{{#each Results}}
	<div class="BVTweeviewContainerHeader">
		<div class="BVTweeviewReviewTitle">
			<a href="{{reviewDeepLink Id ../product.ProductPageUrl ProductId}}">{{Title}}</a>
		</div>
		<div class="BVTweeviewInlineReviewAuthor">
			<span class="BVTweeviewReviewBy">By:</span>
			<span class="BVTweeviewReviewAuthor">{{UserNickname}}</span>
		</div>
	</div>
	<div class="BVTweeviewContent">
		<div class="BVTweeviewRatingWrapper">
			<div class="BVTweeviewRatingBackground">{{{starRatings RatingRange}}}</div>
			<div class="BVTweeviewRating">{{{starRatings Rating}}}</div>
		</div>
		<div class="BVTweeviewproductName">{{product.Name}}</div>
		<div class="BVTweeviewReviewText">{{contentText ReviewText}}</div>
		<a class="BVTweeviewReadMore" href="{{reviewDeepLink Id ../product.ProductPageUrl productId}}">Read More</a>
	</div>
	{{/each}}
</div> -->
<div class="BVTweeviewContainer">
    
 	<div class="tvquicktake">
        <img alt="TweeViews" class="bigbird" src="images/bigbird.png">

        <h2 class="tvqttitle">TweeViews</h2><a class="tvpreview" href=
        "/display">
        <p>[display will go here]</p>

        <div class="tvtooltip">
            <a class="fancybox" href="#inline" rel="group">
            <p class="tvtooltext">Read more reviews from other Twitter users
            on<span class="tvtoolbold">TweeViews &gt;&gt;</span></p></a>
        </div>
        <p></a>
    </div>

</div>