<!-- <div class="BVTweeviewContainer BVRating_{{Rating}}_{{RatingRange}}">
	{{#each Results}}
	<div class="BVTweeviewContainerHeader">
		<div class="BVTweeviewReviewTitle">
			<a href="{{reviewDeepLink Id ../product.ProductPageUrl ProductId}}">{{Title}}</a>
		</div>
		<div class="BVTweeviewInlineReviewAuthor">
			<span class="BVTweeviewReviewBy">By:</span>
			<span class="BVTweeviewReviewAuthor">{{UserNickname}}</span>
		</div>
	</div>
	<div class="BVTweeviewContent">
		<div class="BVTweeviewRatingWrapper">
			<div class="BVTweeviewRatingBackground">{{{starRatings RatingRange}}}</div>
			<div class="BVTweeviewRating">{{{starRatings Rating}}}</div>
		</div>
		<div class="BVTweeviewproductName">{{product.Name}}</div>
		<div class="BVTweeviewReviewText">{{contentText ReviewText}}</div>
		<a class="BVTweeviewReadMore" href="{{reviewDeepLink Id ../product.ProductPageUrl productId}}">Read More</a>
	</div>
	{{/each}}
</div> -->
<div class="BVTweeviewContainer">
    
 	<div class="tvquicktake">
        <span class="tvqttitle"><img alt="TweeViews" class="bigbird" src="images/bigbird.png">
		<h2 class="tvqttitle">TweeViews</h2></span><a class="tvpreview" href="/display">
        {{#each Results}}
        	{{#if Rating}}
            <div class="tvtweet">
           	<div class="BVRRRatingNormalImage" style="position: relative; display: block;">
				<div class="BVFWRatingBackground"><p>{{{starRatings product.ReviewStatistics.OverallRatingRange}}}</p></div>
				<div class="BVFRWRating" style="overflow: hidden; width: {{rangeToPercentage Rating 5}}%;"></div>
			</div>
            <span class="tweetid">{{Id}}</span> <span class="tweetrate">{{Rating}}</span> <span class="tweettext">{{ReviewText}}</span> <span class="tweetname"><a href="https://twitter.com/{{UserNickname}}">{{UserNickname}}</a></span> <span class="tweetphoto">{{Photos}}</span> <span class="tweettime">{{{postedDate SubmissionTime}}}</span></div>

             <div class="tvtooltip">
            <a class="fancybox" href="#inline" rel="group">
            <p class="tvtooltext">Read more reviews from other Twitter users
            on<span class="tvtoolbold">TweeViews &gt;&gt;</span></p></a>
        	</div>
        	{{/if}}
        {{/each}}
        <p></a>
    </div>

</div>