body {font: 14px Helvetica, Arial, sans-serif; padding: 0; margin: 0;}
.BVTweeViews {padding: 50px 50px 0; font: 14px Helvetica, Arial, sans-serif; background: url('/images/bj_bg.png') no-repeat 0 0; margin: auto 0; height: 4860px;}
a {color: #292f33; text-decoration: none; font-style: italic;}
	a:hover {color: #5ea9dd;}
.TVCampaigns, .listcampaigns {padding: 30px; width: 320px;}
.listcampaigns {padding-top: 0;}
.TVListCampaigns {padding: 0; border-top: 2px solid #e1e8ed;}
	.TVListCampaigns form {border: 0; background-color: #fff; border-radius: 10px; padding: 10px;}
	.TVListCampaigns form label {color: #292f33; padding-right: 10px;}
	.TVListCampaigns form label input {margin-left: 10px;}
	.TVListCampaigns form input {margin: 10px 0 0;}
form div {margin: 10px 0;}
form div fieldset {border: 0; background-color: #e1e8ed; border-radius: 10px; padding: 10px;}
form div fieldset label {color: #292f33; padding-right: 10px;}
form div fieldset label input {margin-left: 10px;}

/** Widget Link **/

img.bird {float: left; margin-right: 5px;}
.tvlink {padding-top: 0; margin-top: 8px;}
a.fancybox {float: left; width: 300px; margin-top: 320px; margin-left: 950px;}

/** TweeView Lightbox **/

.tvlightbox {display: block; position: absolute; margin-top: 100px; box-shadow: 0 0 4px #666; border-radius: 10px; color: #292f33;}
	.tvshadow {box-shadow: inset 0 0 20px #ccc; padding: 40px 40px 20px; border-radius: 10px; border: 1px solid #fff;}
	h2.tvtitle {font-size: 40px; color: #5ea9dd; font-style: italic; margin-top: 0; border-bottom: 4px solid #e1e8ed; padding-bottom: 10px;}
	img.bigbird {float: left; margin-right: 5px;}
	.tvlightfoot {border-top: 4px solid #e1e8ed; text-align: right; color: #a7b3bc; font-style: italic; margin-top: 40px;}
		.tvlightfoot a, .tvlightfoot a:hover {color: #a7b3bc; text-decoration: none;}

/** TweeView Quicktake **/

.tvquicktake {position: absolute; display: block; margin: 1850px 0 50px 90px; padding-bottom: 50px; color: #292f33; width: auto; height: 240px; overflow: hidden;}
	.tvqttitle {margin-bottom: 20px; display: block;}
	h2.tvqttitle {font-size: 30px; color: #5ea9dd; font-style: italic; margin-top: 0; padding-bottom: 10px; display: inline;}
	.tvquicktake a.tvpreview {font-style: normal; color: #292f33; display: block; width: auto; cursor: default;}
		.tvquicktake .tvtweet .tweettext {color: #292f33;}
		.tvquicktake .tvtweet a {color: #5ea9dd; font-style: normal; padding: 3px 0; display: block;}
		.tvquicktake .tvtooltip a.tvpreview {margin-top: 0;}
		.tvtooltip a.fancybox {float: left; width: auto; margin: 0 0 0 0; color: #292f33; font-style: normal; font-size: 16px; text-align: left; padding: 5px 5px 5px 5px;}
			.tvtooltip a.fancybox p {line-height: 18px;}
				.tvtooltip a.fancybox p.tvtooltext span {font-weight: bold; color: #5ea9dd; padding-left: 3px;}

.tvtooltip {color: #fff; background-color: #fff; box-shadow: 0 0 4px #999; visibility: hidden; -webkit-border-radius: 7px; -moz-border-radius: 7px; -o-border-radius: 7px; border-radius: 7px; text-align: center; z-index: 999; padding: 3px 8px; position: absolute; cursor: default; -webkit-transition: all 240ms ease-in-out; -moz-transition: all 240ms ease-in-out; -ms-transition: all 240ms ease-in-out; -o-transition: all 240ms ease-in-out; transition: all 240ms ease-in-out; right: auto; top: 100px; margin-left: 20px;}

*:not(.on-focus):hover > .tvtooltip, .on-focus input:focus + .tvtooltip {visibility: visible;
	opacity: 1; -webkit-transition: all 240ms ease-in-out; -moz-transition: all 240ms ease-in-out; -ms-transition: all 240ms ease-in-out; -o-transition: all 240ms ease-in-out; transition: all 240ms ease-in-out;}

/** TweeView Tweets **/

.tvcontent {width: 900px; margin: auto 0;}
.tvtweet {display: inline-block; width: 250px; border: 1px solid #fff; background: #edf0f2; box-shadow: 0 0 2px #666; margin: 10px; vertical-align: top; padding: 15px 10px; color: #292f33; min-height: 185px;}
	.tvtweet span {display: block;}
		.tvtweet span.tweettext {width: 230px; word-wrap: break-word; line-height: 20px;}
	.tvtweet .BVFWRatingBackground {display: block; background: url('/images/starRating_unfilled.png') no-repeat 0 0; height: 25px; width: 138px; position: absolute; z-index: 400;}
		.tvtweet .BVFWRatingBackground p {display: none;}
	.tvtweet .BVRRRatingNormalImage {width: 127px;}
	.tvtweet .BVFRWRating {display: block; background: url('/images/starRating.png') no-repeat 0 0; height: 25px; z-index: 999; position: relative;}
	.tvtweet .tweetid, .tvtweet .tweetrate {display: none;}
	.tvtweet .tweettext {padding: 10px 0; font-size: 16px;}
	.tvtweet .tweetname a {color: #5ea9dd; font-size: 16px; padding: 5px 0; font-style: normal; display: block;}
	.tvtweet .tweettime {font-size: 12px; color: #8899a6;}